body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-family: Lobster;
  color: white;
}

#movieSearch {
  margin: auto;
}

#movieDetails {
  font-family: times;
  color: white;
}

li:hover {
  background-color: white;
  cursor: pointer;
}